@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap');
/*---------common---------*/
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
button {
  box-shadow: none !impotant;
}
.btnOrange {
  border: 1px solid white;
  color: white;
  font-size: 14px;
  font-weight: 700;
  width: 225px;
  height: 56px;
  letter-spacing: -0.24px;
}
.btnOrange:hover {
  color: white;
  border-color: #e74c3c;
  background-color: #e74c3c;
}
h2 {
  font-family: "Source Sans Pro";
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 3.6px;
}
.circle {
  width: 64px;
  height: 64px;
  background-color: #f4f5f9;
  border-radius: 100%;
  padding: 17.5px 0%;
}
.blockHeader h2 {
  color: #6a6a6a;
}
.blockHeader p {
  color: #999999;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 1%;
}
.blockHeader .splitter{
  margin-bottom: 4.5%;
}
/*------------------------*/

/*---------header---------*/
header {
/*   overflow: hidden;  */
  font-family: "Open Sans";
  color: white;
  background-color: #202020;
  padding-bottom: 15%;
}
header h1 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 7.2px;
}
.headerText {
  margin-top: 13%; 
}
#slogan {
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 1.2px;
}
.nav-link {
  color: #f4f5f9;
  font-size: 14px;
  font-style: normal;
}
.nav-link:hover {
  color: #e74c3c;
  border-bottom: 1px solid #e74c3c;
}
.foreground {
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: black;
  opacity: 0.7;
  padding: 30%;
  position: absolute;
  user-select: none;
}
.carousel-control_style {
  background-color: #ffffff;
  width: 45px;
  height: 45px;
  margin: auto 3%;
  border-radius: 2px;
  color: #303030;
  font-size: 23px; 
}
#headerCarousel .carousel-inner::before {
  content: '';
  width: 0;
	height: 0;
	border-top: 160px solid transparent;
	border-left: 1000px solid white;
	border-bottom: 50px solid transparent;
  position: absolute;
  bottom: -10%;
  z-index: 1;
}
#headerCarousel .carousel-inner::after {
  content: '';
  width: 0;
	height: 0;
	border-top: 160px solid transparent;
	border-right: 1000px solid white;
	border-bottom: 50px solid transparent;
  position: absolute;
  right: 0;
  bottom: -10%;
  z-index: 1;
}
.carousel-control_style:hover {
  background-color: #e74c3c;
}
.carousel-control_style:focus {
  background-color: #e74c3c;
}
header .btnOrange {
  width: 100%;
}
.btnDown {
  top: 100%;
  box-shadow: 0 0 0 0px rgba(256, 256, 256, 0.25);
  transition: box-shadow .15s ease-out;
  z-index: 1;
}
.btnDown:hover {
  box-shadow: 0 0 0 5px rgba(256, 256, 256, 0.25), 0 0 0 .1px rgba(0, 0, 0, 1);
}

/*****media*****/
@media (min-width: 576px) {
  header {
    background-color: #202020;
  }
  header h1 {
     font-size: 72px;
  }
}

@media (min-width: 768px) {
  header h1 {
     font-size: 72px;
  }
  header .btnOrange {
    width: 225px;
    height: 56px;
  }
  #headerCarousel img {
    width: 100%;
    height: 750px;
  }
}

@media (min-width: 992px) {
  header {
    background-color: #fff;
  }
  header .btnDown {
    top: 370%;
  }
  .sliderItem {
    height: 60rem !important;
  }
}

@media (min-width: 1200px) {
  header .btnDown {
    top: 400%;
  }
}

@media (min-width: 1400px) {
  header .btnDown {
    top: 380%;
  }
  #headerCarousel .carousel-inner::before {
    border-top: 160px solid transparent;
    border-left: 1500px solid white;
    border-bottom: 50px solid transparent;
  }
  #headerCarousel .carousel-inner::after {
    border-top: 160px solid transparent;
    border-right: 1500px solid white;
    border-bottom: 50px solid transparent;
  }
}

@media (min-width: 2000px) {
  header .btnDown {
    top: 410%;
  }
}

/***************/
/*------------------------*/

/*-------advantages-------*/
#whoWeAre {
  margin-top: 15%;
}
.box {
  margin-bottom: 5%;
}
.box .boxIconContainer, .boxIcon {
  transform: rotate(0deg);
  transition: transform .15s ease-in;
}
.box:hover .boxTitle {
  color: #e74c3c;
}
.box:hover .boxIconContainer {
  transform: rotate(45deg);
}
.box:hover .boxIconContainer .boxIcon {
  transform: rotate(-45deg);
}
.boxIconContainer {
  width: 73px;
  height: 73px;
  border: 1px solid rgba(99, 99, 99, .25);
  padding: 21px 0;
  border-radius: 2px;
}
.boxTitle{
  color: #6a6a6a;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1.35px;
}
.boxText {
  font-family: "Source Sans Pro";
  color: #999999;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0.9px;
}
.box hr {
  background-color: #6a6a6a;
  width: 41px;
  height: 1px;
}
/*------------------------*/

/*--------about us--------*/
#aboutUs {
  margin: 7% 0;
}
#aboutUs {
  font-family: "Source Sans Pro";
}
#aboutUs h2 {
  color: #6a6a6a;
  border-left: 6px solid #e74c3c;
  padding-left: 30px;
}
#aboutUs p {
  color: #999999;
  font-size: 14px;
  line-height: 29px;
}
#aboutUs button {
  border: unset;
  background-color: #e74c3c;
  box-shadow: unset;
  transition: box-shadow .15s ease-in-out .1s;
}
#aboutUs button:hover {
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
}
/*------------------------*/

/*------our services------*/
#services {
  background-image: url(img/background/our_services_bg.png);
  padding: 7% 0;
}
#services h2 {
  color: #f4f5f9;
  border-right: 6px solid #e74c3c;
  padding-right: 30px;
}
#services h3 {
  color: #e74c3c;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  line-height: 29px;
}
#services p {
  color: #999999;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 400;
}
#services .circle {
  top: 50%;
  margin-top: -32px;
  margin-left: 39%;
  box-shadow: 0 0 0 5px rgba(256, 256, 256, 0.25), 0 0 0 1px rgba(0, 0, 0, 1);
}

/*****media*****/
@media (min-width: 576px) {
  #services {
    background-image: url(img/background/services_left_bg.png);
  }
}
@media (min-width: 992px) {
   #services {
    background-image: url(img/background/our_services_bg.png);
  }
}
/***************/
/*------------------------*/

/*--------portfolio-------*/
#portfolio {
  margin-top: 7%;
}
.breadcrumb {
  background-color: unset;
}
.breadcrumb-item {
  font-family: "Open Sans";
  font-size: 14px;
}
.breadcrumb-item.active a {
  color: #e74c3c;
  font-weight: 700;
} 
.breadcrumb-item a{
  color: #999999;
  font-weight: 400;
  text-decoration: unset;
  margin: 0 11px; 
}
.breadcrumb-item a:hover {
  color: #e74c3c;
}
.imageContainer {
  overflow: hidden;
}
.imageCover {
  width: 100%;
  height: 200%;
  background-image: url(img/image_cover.png);
  background-repeat: no-repeat; 
  background-size: contain;
  background-position-y: bottom;
  opacity: 0.8;
  top: -100%;
  transition: top .2s ease-in-out;
}
.imageCover:hover {
  top: -100%;
}
.imageCover .row {
  height: 100%;
}
.imageCover hr{
  background-color: #fff;
  width: 44px;
  border: 2px solid #fff;
  margin-right: 100%;
}
.imageCover a {
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 1.2px;
  text-decoration: unset;
}
.imageCover p {
  color: #ffffff !important;
  letter-spacing: 0.7px;
}

/*****media*****/
@media (min-width: 992px) {
    .imageCover {
    top: 5%;
    transition: top .2s ease-in-out;
  }
  .imageCover a {
    font-size: 24px;
  }
}
/***************/

/*------------------------*/

/*-------case study-------*/
#caseStudy {
  background-color: #f4f5f9;
  padding: 7% 0;
}
#caseStudy .splitter {
  margin-bottom: 8%;
}
.textSliderContainer {
  background-color: #ffffff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
#caseStudy .square {
  width: 90px;
  height: 90px;
  background-color: #e74c3c;
  transform: rotate(45deg);
  box-shadow: 0 0 0 .2px rgba(0, 0, 0, 1);
  margin-top: 3%;
  padding: 28px;
}
#caseStudy .square img {
  transform: rotate(-45deg);
}
#caseStudy h3 {
  color: #6a6a6a;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.35px;
  margin-top: 85px;
}
#caseStudy hr {
  width: 44px;
  background-color: #6a6a6a;
  margin: 3.3% auto;
}
.textSliderContainer p {
  color: #999999;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.05px;
  margin-bottom: 5%;
}
.textSliderContainer .btnOrange {
  width: 145px;
  height: 46px;
  background-color: #e74c3c;
  border: unset;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.14px;
  margin-top: 4%;
}
.textSliderContainer .btnOrange:hover {
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
}
.textSliderContainer .carousel-indicators {
  margin-bottom: 5%;
}
.textSliderContainer .carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #f4f5f9;
}
.textSliderContainer .carousel-indicators li.active {
  background-color: #e74c3c;
}
.textSliderContainer .carousel-item {
  padding: 12.6% 6.5% 16%;
}
.caseStudyImage {
  top: -6.5%;
  right: 0;
  z-index: 0;
  overflow: hidden;
  padding: 0;
}

/*****media*****/
@media (min-width: 576px) {
  #caseStudy {
    padding: 10% 0 30%;
  }
}
@media (min-width: 992px) {
  #caseStudy {
    padding: 7% 0 11%;
  }
}
/***************/
/*------------------------*/

/*----checkout stats-----*/
#checkoutStats {
  background-image: url(img/background/checkout_stats_foreground.png), url(img/background/checkout_stats_bg.png);
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  padding: 7% 0 10%;
}
#checkoutStats .row {
  margin-top: 7%;
}
#checkoutStats .circle {
  width: 111px;
  height: 111px;
  background-color: transparent;
  border: 1px solid white;
  padding: 40px;
  padding-top: 40px;
}
#checkoutStats img {
  margin: 0 auto;
}
#checkoutStats p{
  color: #f4f5f9;
  font-family: "Source Sans Pro";
}
#checkoutStats .number {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-top: 7%;
}
#checkoutStats .text {
  font-size: 18px;
  letter-spacing: 0.9px;
}

/*------------------------*/

/*---------pricing--------*/
#pricing {
  margin: 8% 0;
}
.pricingCard {
  padding: 0 2%;  
}
.pricingCard:hover .pricingCardHead, 
.pricingCard:hover .pricingCardBody button {
  background-color: #e74c3c;
}
.pricingCard:hover .pricingCardHead span {
  color: #e74c3c;
}
.pricingCardHead {
  background-color: #999999;
  padding-top: 11%;
  padding-bottom: 0%;
  transition: background-color .15s ease-in-out;
}
.pricingCardHead h3 {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.8px;
}
.pricingCard .circle {
  width: 154px;
  height: 153px;
  background-color: #ffffff;
  box-shadow: 0 0 0 11px rgba(256, 256, 256, 0.25);
  top: 40%;
}
.pricingCardHead .circle p {
  color: #999999;
  font-family: "Source Sans Pro";
  line-height: 21.95px;
  margin-top: 20%;
}
.pricingCardHead .circle p span {
  color: inherit;
  font-size: 40px;
  font-weight: 700;
  transition: color .15s ease-in-out;
}
.pricingCardHead .circle p span i {
  font-size: 33px;
}
.pricingCardBody {
  background-color: #f4f5f9;
  padding-top: 33%;
  padding-bottom: 13%;
}
.pricingCardBody li {
  list-style: none;
  color: #999999;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
}
.pricingCardBody button {
  width: 145px;
  height: 46px;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.14px;
  border: unset;
  background-color: #999999;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
  margin-top: 7%;
}
/*------------------------*/

/*----------team----------*/
#team {
  background-image: url(img/background/team_curve_bg.png),
                    url(img/background/team_foreground.png),
                    url(img/background/team_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7% 0 30%;
  height: 550px;
}
#team .blockHeader h2 {
  color: #ffffff;
}
#team .blockHeader p {
  color: #f4f5f9;
}
.worker {
  border: 3px solid #e74c3c;
  border-radius: 100px;
  transition: transform .25s ease-in-out,
              box-shadow .25s ease-in-out; 
}
.workerContainer:hover .worker {
  transform: scale(140%);
  box-shadow: 0 5px 13px 2px #000000;
}
.workerName {
  transition: opacity .5s ease-in-out 1s;
}
.workerContainer:hover .workerName h3,
.workerContainer:hover .workerName p{
  opacity: 1;
}
.workerName h3 {
  color: #e74c3c;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.8px;
  margin-top: 20px;
  opacity: 0;
  transition: opacity .3s ease-in-out .3s;
}
.workerName p {
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-weight: bold;
  line-height: 23.99px;
  letter-spacing: 1.4px;
  opacity: 0;
  transition: opacity .3s ease-in-out .4s;
}
.workerCover {
  width: 54px;
  height: 53px;
  background-color: #e74c3c;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 100%;
  opacity: 0;
  transition: opacity .25s ease-in-out,
              transform .25s ease-in-out;
}
.workerContainer:hover .workerCover {
  opacity: 0.5;
  transform: scale(140%);
}
.verticalLine {
  width: 2px;
  height: 0px;
  border-left: 1px solid #ffffff;
  margin: 0 auto;
  transition: height .4s ease-in-out .1s;
}
.workerContainer:hover .verticalLine {
  height: 60px;
}

/*****media*****/
@media (min-width: 360px) {
  #team {
    padding-bottom: 1337px !important;
    background-color: #202020;
    background-image: none; 
  }
  .workerContainer {
    margin-top: 15%;
  }
  .worker1,
  .worker2,
  .worker3,
  .worker4,
  .worker5 {
    top: 0;
  }
  .workerName h3,
  .workerName p {
    opacity: 1;
  }
  .verticalLine {
    display: none;
  }
}

@media (min-width: 768px) {
  #team {
    padding-bottom: 30% !important;
    background-image: url(img/background/team_curve_bg.png), 
                      url(img/background/team_foreground.png),
                      url(img/background/team_bg.png);
  }
  .workerContainer {
    margin-top: 5%;
  }
  .worker1 {
    top: 55%;
  }
  .worker2 {
    top: 30%;
  }
  .worker3 {
    top: 14%;
  }
  .worker4 {
    top: 3%;
  }
  .worker5 {
    
  }
}

@media (min-width: 992px) {
  .worker1 {
    top: 54%;
  }
  .worker2 {
    top: 19%;
  }
  .worker3 {
    top: -6%;
  }
  .worker4 {
    top: -17%;
  }
  .worker5 {
    top: -8%;
  }
}

@media (min-width: 1200px) {
  .workerContainer {
    height: 100px;
  }
  .workerName h3 {
    opacity: 0;
  }
  .workerName p{
    opacity: 0;
  }
  .worker1 {
    top: 37%;
    position: absolute !important;
  }
  .worker2 {
    top: -10%;
    position: absolute !important;
  }
  .worker3 {
    top: -38%;
    position: absolute !important;
  }
  .worker4 {
    top: -39%;
    position: absolute !important;
  }
  .worker5 {
    top: -16%;
    position: absolute !important;
  }
  .verticalLine {
    display: block;
  }
}

@media (min-width: 1400px) {
  .worker1 {
    top: -6%;
  }
  .worker2 {
    top: -60%;
  }
  .worker3 {
    top: -80%;
  }
  .worker4 {
    top: -54%;
  }
  .worker5 {
    top: -55%;
  }
}

@media (min-width: 1800px) {
  .worker1 {
    top: 7%;
  }
  .worker2 {
    top: -30%;
  }
  .worker3 {
    top: -50%;
  }
  .worker4 {
    top: -24%;
  }
  .worker5 {
    top: -5%;
  }
}
/***************/
/*------------------------*/

/*---------clients--------*/
#clients {
  background-color: #f4f5f9;
  padding: 8.5% 0 0;
}
.logoContainer {
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(31, 31, 31, 0.09);
  transition: background-color .1s ease-in;
  line-height: 460%
}
.logoContainer:hover {
  background-color: #e74c3c;
}
.logoContainer img {
  opacity: 0.31;
  transition: opacity .1s ease-in;
  
}
.logoContainer:hover img {
  opacity: 1;
}
#clients hr {
  margin-top: 7%;
  margin-bottom: 0;
}
/*------------------------*/

/*----------blog----------*/
#blog {
  padding: 7% 0 0;
  background-color: #f4f5f9;
}
.blogDescriptionContainer {
  background-color: #e74e3e;
  color: #ffffff;
  position: relative;
}
.blogDescriptionContainer .row {
  padding: 20% 12% 10%;
}
.firstRowBlog .blogDescriptionContainer::before {
  content: '';
  position: absolute;
  border-top: 60px solid transparent;
  border-left: 60px solid transparent;
  border-right: 50px solid #e74e3e;
  border-bottom: 60px solid transparent;
  top: 50%;
  transform: translateY(-50%);
  left: -22%;
}
.secondRowBlog .blogDescriptionContainer::before {
  content: '';
  position: absolute;
  border-top: 60px solid transparent;
  border-left: 50px solid #e74e3e;
  border-right: 60px solid transparent;
  border-bottom: 60px solid transparent;
  top: 50%;
  transform: translateY(-50%);
  right: -22%;
  z-index: 1;
}
.blogDescriptionContainer p {
  font-family: "Open Sans";
}
.blogTag {
  font-size: 12px;
  letter-spacing: 0.7px;
}
.blogDescriptionContainer h3 {
  font-family: "Source Sans Pro";
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.2px;
}
.blogDescriptionContainer hr {
  width: 44px;
  background-color: #ffffff;
  border: 2px solid #fff;
  margin-left: 0;
}
.blogDescription {
  line-height: 30px;
  font-size: 14px;
  margin-top: 10%;
  margin-bottom: 10%;
  z-index: 2;
}
.blogDescriptionContainer a {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-style: italic;
  text-decoration: unset;
}
.blogDescriptionContainer a i {
  font-size: 15px;
}
.blogImg {
  width: 100%;
  height: 100%;
}
/*------------------------*/

/*---------contact--------*/
#contact {
  background-color: #f4f5f9;
  padding: 9% 0 7%;
}
.contacts, .contactForm {
  margin: 0 0%;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.contacts {
  padding: 18% 16%;
  height: 100%;
}
.contactBlock h3 {
  color: #e74e3e;
  font-family: "Source Sans Pro";
  font-size: 24px;
  font-weight: 600;
}
.contacts p {
  color: #999999;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 24px;
}
.contactForm {
  padding: 12% 14% 13%;
}
.contactForm .form-group {
  position: relative;
}
.contactForm label {
  color: #999999;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  margin: 0;
}
.contactForm .inputLabel {
  position: absolute;
  top: 10%;
  transition: top .1s ease-in-out;
}
.contactForm input:focus + .inputLabel {
  top: -50%;
}
.contactForm input, .contactForm textarea {
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: rgba(99, 99, 99, .25);
  border-radius: 0;
}
.contactForm input:focus,
.contactForm textarea:focus {
  box-shadow: none;
  border-color: #e74e3e; 
}
.contactForm button {
  width: 157px;
  height: 44px;
  border: none;
  font-family: "Open Sans";
  background-color: #e74e3e;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
  margin-top: 3%;
}
.contactForm button:hover {
  box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.25);
}
/*------------------------*/

/*---------promo----------*/
#promo {
  padding: 9% 0 0;
  background-image: url(img/background/promo_foreground.png),
                    url(img/background/promo_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center
}
#promo .blockHeader h2 {
  color: #ffffff;
  font-family: "Open Sans";
  line-height: 30px;
  font-weight: 400;
}
#promo .blockHeader span {
  font-weight: 700;
}
#promo .blockHeader p {
  color: #ffffff;
  font-size: 18px;
}
#promo .btnOrange {
  width: 225px;
  height: 56px;
  border: none;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
  background-color: #e74c3c;
  font-family: "Open Sans";
  letter-spacing: 0.12px;
  margin-top: 15%;
}
#promo .btnOrange:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 1);
}
/*------------------------*/

/*---------footer---------*/
footer {
  background-color: #202020;
  border-top: 1px solid #999;
  padding: 1.5% 0;
  margin-top: 10%;
}
footer a {
  opacity: 0.75;
  color: #999999;
  margin: 0 1.2%
}
footer a:hover {
  color: #e74c3c;
  box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.25);
}
footer p {
  opacity: 0.75;
  color: #999999;
  font-family: "Open Sans";
  font-size: 14px;
  margin-bottom: 0;
}
.btnContainer {
  width: 100%;
}
footer .btnUp {
  width: 53px;
  height: 53px;
  text-align: center;
  font-size: 25px;
  padding: 7px;
  background-color: #e74c3c;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  bottom: 22px;
  left: 48%;  
}
.btnUp:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.50);
}
.btnUp a {
  color: #fff;
  opacity: 1;
}
.btnUp a:hover {
  color: white;
  box-shadow: none;
}
/*****media*****/
@media (min-width: 768px) {
  .btnUp {
    left: 0;
    
  }
/**************/
}
/*------------------------*/

